exportPattern("^[^\\.]");
import(grid)
import(R.oo)
import(ape)
import(compoisson)
import(ggplot2)
import(R.methodsS3)
importFrom("grDevices", "col2rgb", "colorRamp", "colorRampPalette", "colors", "rgb")
importFrom("graphics", "axis", "hist", "plot", "plot.default")
importFrom("stats", "density", "pgamma", "qgamma", "rbeta", "reorder", "rexp", "rgamma", "rnorm", "runif", "weighted.mean")
importFrom("utils", "capture.output", "page")

S3method("!=", Alphabet)
S3method("!=", Process)
S3method("==", Alphabet)
S3method("==", Process)
S3method(BrownianPath, BrownianInsertor)
S3method(Debug, PhyloSim)
S3method(Log, PhyloSim)
S3method(Perform, Event)
S3method(Scale, QMatrix)
S3method(Simulate, PhyloSim)
S3method(Translate, CodonSequence)
S3method(Undocumented, PhyloSim)
S3method(areSynonymous, CodonAlphabet)
S3method(as.character, Alphabet)
S3method(as.character, Event)
S3method(as.character, GeneralSubstitution)
S3method(as.character, PhyloSim)
S3method(as.character, Process)
S3method(as.character, QMatrix)
S3method(as.character, Sequence)
S3method(as.character, Site)
S3method(as.character, ToleranceSubstitution)
S3method(attachHookToNode, PhyloSim)
S3method(attachProcess, Sequence)
S3method(attachProcess, Site)
S3method(attachSeqToNode, PhyloSim)
S3method(buildFromPAML, AminoAcidSubst)
S3method(buildFromPAML, CodonSubst)
S3method(checkConsistency, Alphabet)
S3method(checkConsistency, AminoAcidSubst)
S3method(checkConsistency, BinarySubst)
S3method(checkConsistency, BrownianInsertor)
S3method(checkConsistency, CodonAlphabet)
S3method(checkConsistency, CodonSequence)
S3method(checkConsistency, CodonSubst)
S3method(checkConsistency, CodonUNREST)
S3method(checkConsistency, ContinuousDeletor)
S3method(checkConsistency, ContinuousInsertor)
S3method(checkConsistency, DiscreteDeletor)
S3method(checkConsistency, DiscreteInsertor)
S3method(checkConsistency, Event)
S3method(checkConsistency, F81)
S3method(checkConsistency, F84)
S3method(checkConsistency, FastFieldDeletor)
S3method(checkConsistency, GTR)
S3method(checkConsistency, GY94)
S3method(checkConsistency, GeneralDeletor)
S3method(checkConsistency, GeneralInDel)
S3method(checkConsistency, GeneralInsertor)
S3method(checkConsistency, GeneralSubstitution)
S3method(checkConsistency, HKY)
S3method(checkConsistency, JC69)
S3method(checkConsistency, K80)
S3method(checkConsistency, K81)
S3method(checkConsistency, PSRoot)
S3method(checkConsistency, PSRootSummary)
S3method(checkConsistency, PhyloSim)
S3method(checkConsistency, Process)
S3method(checkConsistency, QMatrix)
S3method(checkConsistency, Sequence)
S3method(checkConsistency, Site)
S3method(checkConsistency, T92)
S3method(checkConsistency, TN93)
S3method(checkConsistency, ToleranceSubstitution)
S3method(checkConsistency, UNREST)
S3method(clearStates, Sequence)
S3method(clone, GeneralSubstitution)
S3method(clone, Process)
S3method(clone, Sequence)
S3method(clone, ToleranceSubstitution)
S3method(copySubSequence, Sequence)
S3method(deleteSubSequence, Sequence)
S3method(detachHookFromNode, PhyloSim)
S3method(detachProcess, Sequence)
S3method(detachProcess, Site)
S3method(detachSeqFromNode, PhyloSim)
S3method(enableVirtual, PSRoot)
S3method(exportStatTree, PhyloSim)
S3method(flagTotalRate, Site)
S3method(generateInsert, GeneralInsertor)
S3method(getAcceptBy, GeneralInDel)
S3method(getAcceptWin, GeneralInsertor)
S3method(getAlignment, PhyloSim)
S3method(getAlignmentLength, PhyloSim)
S3method(getAlphabet, GeneralSubstitution)
S3method(getAlphabet, Process)
S3method(getAlphabet, QMatrix)
S3method(getAlphabet, Site)
S3method(getAlphabet, ToleranceSubstitution)
S3method(getAlphabets, Sequence)
S3method(getAncestral, Sequence)
S3method(getAncestral, Site)
S3method(getBaseFreqs, F81)
S3method(getBaseFreqs, F84)
S3method(getBaseFreqs, GTR)
S3method(getBaseFreqs, HKY)
S3method(getBaseFreqs, K80)
S3method(getBaseFreqs, K81)
S3method(getBaseFreqs, TN93)
S3method(getBigRate, Sequence)
S3method(getBranchEvents, PhyloSim)
S3method(getCodonFreqs, GY94)
S3method(getComments, PSRoot)
S3method(getCumulativeRates, Sequence)
S3method(getCumulativeRatesFromRange, Sequence)
S3method(getDeletionTolerance, Sequence)
S3method(getDist, ContinuousDeletor)
S3method(getDist, ContinuousInsertor)
S3method(getEdge, PhyloSim)
S3method(getEdges, PhyloSim)
S3method(getEquDist, GeneralSubstitution)
S3method(getEquDist, ToleranceSubstitution)
S3method(getEventRate, GeneralSubstitution)
S3method(getEventRate, QMatrix)
S3method(getEventRate, ToleranceSubstitution)
S3method(getEventRateAtSite, GeneralSubstitution)
S3method(getEventRateAtSite, ToleranceSubstitution)
S3method(getEvents, Sequence)
S3method(getEvents, Site)
S3method(getEventsAtSite, FastFieldDeletor)
S3method(getEventsAtSite, GY94)
S3method(getEventsAtSite, GeneralDeletor)
S3method(getEventsAtSite, GeneralInsertor)
S3method(getEventsAtSite, GeneralSubstitution)
S3method(getEventsAtSite, Process)
S3method(getEventsAtSite, ToleranceSubstitution)
S3method(getGenerateBy, GeneralInsertor)
S3method(getHandler, Event)
S3method(getId, PhyloSim)
S3method(getId, Process)
S3method(getId, QMatrix)
S3method(getId, Sequence)
S3method(getInsertHook, GeneralInsertor)
S3method(getInsertionTolerance, Sequence)
S3method(getKappa, F84)
S3method(getKappa, GY94)
S3method(getLength, Sequence)
S3method(getLengthParam1, FastFieldDeletor)
S3method(getLengthParam2, FastFieldDeletor)
S3method(getLogFile, PhyloSim)
S3method(getLogLevel, PhyloSim)
S3method(getMatrix, QMatrix)
S3method(getMaxLength, ContinuousDeletor)
S3method(getMaxLength, ContinuousInsertor)
S3method(getMethodsList, PSRoot)
S3method(getName, Event)
S3method(getName, PhyloSim)
S3method(getName, Process)
S3method(getName, QMatrix)
S3method(getName, Sequence)
S3method(getNedges, PhyloSim)
S3method(getNodes, PhyloSim)
S3method(getNtips, PhyloSim)
S3method(getOmegaScalingFactor, GY94)
S3method(getOmegas, CodonSequence)
S3method(getOmegas, Sequence)
S3method(getParameterAtSite, Process)
S3method(getParameterAtSites, Sequence)
S3method(getPhylo, PhyloSim)
S3method(getPosition, Event)
S3method(getProbs, DiscreteDeletor)
S3method(getProbs, DiscreteInsertor)
S3method(getProcess, Event)
S3method(getProcess, QMatrix)
S3method(getProcesses, Sequence)
S3method(getProcesses, Site)
S3method(getProposeBy, GeneralInDel)
S3method(getQMatrix, GeneralSubstitution)
S3method(getQMatrix, ToleranceSubstitution)
S3method(getRate, Event)
S3method(getRate, GeneralInDel)
S3method(getRate, GeneralSubstitution)
S3method(getRate, QMatrix)
S3method(getRate, ToleranceSubstitution)
S3method(getRateList, GeneralSubstitution)
S3method(getRateList, QMatrix)
S3method(getRateList, ToleranceSubstitution)
S3method(getRateMultipliers, Sequence)
S3method(getRateParam, F81)
S3method(getRateParam, F84)
S3method(getRateParam, GTR)
S3method(getRateParam, HKY)
S3method(getRateParam, K80)
S3method(getRateParam, K81)
S3method(getRateParam, T92)
S3method(getRateParam, TN93)
S3method(getRateParamList, F81)
S3method(getRateParamList, F84)
S3method(getRateParamList, GTR)
S3method(getRateParamList, HKY)
S3method(getRateParamList, K80)
S3method(getRateParamList, K81)
S3method(getRateParamList, T92)
S3method(getRateParamList, TN93)
S3method(getRootNode, PhyloSim)
S3method(getRootSeq, PhyloSim)
S3method(getScale, BrownianInsertor)
S3method(getScaledMatrix, QMatrix)
S3method(getSeqFromNode, PhyloSim)
S3method(getSequence, Site)
S3method(getSequences, PhyloSim)
S3method(getSite, Event)
S3method(getSiteSpecificParamIds, Process)
S3method(getSiteSpecificParamList, Process)
S3method(getSites, Sequence)
S3method(getSize, Alphabet)
S3method(getSizes, DiscreteDeletor)
S3method(getSizes, DiscreteInsertor)
S3method(getState, Site)
S3method(getStates, Sequence)
S3method(getString, Sequence)
S3method(getSymbolFreqs, Sequence)
S3method(getSymbolLength, Alphabet)
S3method(getSymbols, Alphabet)
S3method(getTableId, CodonAlphabet)
S3method(getTemplateSeq, GeneralInsertor)
S3method(getTheta, T92)
S3method(getTipLabels, PhyloSim)
S3method(getTips, PhyloSim)
S3method(getToleranceMargin, FastFieldDeletor)
S3method(getTotalRate, Site)
S3method(getTotalRates, Sequence)
S3method(getTotalRatesFromRange, Sequence)
S3method(getTransTable, CodonAlphabet)
S3method(getTreeLength, PhyloSim)
S3method(getType, Alphabet)
S3method(getType, BrownianInsertor)
S3method(getType, FastFieldDeletor)
S3method(getUniqueAlphabets, Sequence)
S3method(getUniqueProcesses, Sequence)
S3method(getWriteProtected, Alphabet)
S3method(getWriteProtected, Event)
S3method(getWriteProtected, Process)
S3method(getWriteProtected, QMatrix)
S3method(getWriteProtected, Sequence)
S3method(globalConsistencyCheck, PSRoot)
S3method(hasSiteSpecificParameter, Process)
S3method(hasSymbols, Alphabet)
S3method(hasUndefinedRate, GeneralInDel)
S3method(hasUndefinedRate, GeneralSubstitution)
S3method(hasUndefinedRate, Process)
S3method(hasUndefinedRate, ToleranceSubstitution)
S3method(insertSequence, Sequence)
S3method(intersect.list, PSRoot)
S3method(is.Alphabet, default)
S3method(is.CodonAlphabet, default)
S3method(is.CodonUNREST, default)
S3method(is.Event, default)
S3method(is.GY94, default)
S3method(is.GeneralDeletor, default)
S3method(is.GeneralInDel, default)
S3method(is.GeneralInsertor, default)
S3method(is.GeneralSubstitution, default)
S3method(is.PSRoot, default)
S3method(is.Process, default)
S3method(is.QMatrix, default)
S3method(is.Sequence, default)
S3method(is.Site, default)
S3method(is.ToleranceSubstitution, default)
S3method(is.na, PSRoot)
S3method(is.phylo, default)
S3method(is.tip, PhyloSim)
S3method(isAttached, Site)
S3method(isEmpty, Alphabet)
S3method(isStartCodon, CodonAlphabet)
S3method(isStopCodon, CodonAlphabet)
S3method(ll, PSRoot)
S3method(my.all.equal, PSRoot)
S3method(newAAMatrix, AminoAcidSubst)
S3method(newMatrix, CodonSubst)
S3method(omegaHist, CodonSequence)
S3method(omegaVarM0, CodonSequence)
S3method(omegaVarM1, CodonSequence)
S3method(omegaVarM2, CodonSequence)
S3method(omegaVarM3, CodonSequence)
S3method(omegaVarM4, CodonSequence)
S3method(plot, ContinuousDeletor)
S3method(plot, ContinuousInsertor)
S3method(plot, DiscreteDeletor)
S3method(plot, DiscreteInsertor)
S3method(plot, GeneralSubstitution)
S3method(plot, PSRoot)
S3method(plot, PhyloSim)
S3method(plot, Sequence)
S3method(plot, ToleranceSubstitution)
S3method(plotParametersAtSites, Sequence)
S3method(plusGamma, Sequence)
S3method(plusInvGamma, Sequence)
S3method(print, PSRootSummary)
S3method(print, QMatrix)
S3method(proposeLength, GeneralInDel)
S3method(readAlignment, PhyloSim)
S3method(readTree, PhyloSim)
S3method(rescaleQMatrix, GeneralSubstitution)
S3method(rescaleQMatrix, ToleranceSubstitution)
S3method(revComp, NucleotideSequence)
S3method(sampleState, GeneralSubstitution)
S3method(sampleState, ToleranceSubstitution)
S3method(sampleStates, Sequence)
S3method(saveAlignment, PhyloSim)
S3method(scaleTree, PhyloSim)
S3method(setAcceptBy, GeneralInDel)
S3method(setAcceptWin, GeneralInsertor)
S3method(setAlignment, PhyloSim)
S3method(setAlphabet, GeneralSubstitution)
S3method(setAlphabet, Process)
S3method(setAlphabet, QMatrix)
S3method(setAlphabet, Site)
S3method(setAlphabet, ToleranceSubstitution)
S3method(setAlphabets, Sequence)
S3method(setAncestral, Sequence)
S3method(setAncestral, Site)
S3method(setBaseFreqs, F81)
S3method(setBaseFreqs, F84)
S3method(setBaseFreqs, GTR)
S3method(setBaseFreqs, HKY)
S3method(setBaseFreqs, K80)
S3method(setBaseFreqs, K81)
S3method(setBaseFreqs, TN93)
S3method(setBigRate, Sequence)
S3method(setBranchEvents, PhyloSim)
S3method(setCodonFreqs, GY94)
S3method(setComments, PSRoot)
S3method(setCumulativeRates, Sequence)
S3method(setDeletionTolerance, Sequence)
S3method(setDist, ContinuousDeletor)
S3method(setDist, ContinuousInsertor)
S3method(setEdges, PhyloSim)
S3method(setEquDist, AminoAcidSubst)
S3method(setEquDist, CodonSubst)
S3method(setEquDist, GeneralSubstitution)
S3method(setEquDist, ToleranceSubstitution)
S3method(setEvents, Site)
S3method(setGenerateBy, GeneralInsertor)
S3method(setHandler, Event)
S3method(setId, PhyloSim)
S3method(setId, Process)
S3method(setId, QMatrix)
S3method(setId, Sequence)
S3method(setInsertHook, GeneralInsertor)
S3method(setInsertionTolerance, Sequence)
S3method(setKappa, F84)
S3method(setKappa, GY94)
S3method(setLength, Sequence)
S3method(setLengthParam1, FastFieldDeletor)
S3method(setLengthParam2, FastFieldDeletor)
S3method(setLogFile, PhyloSim)
S3method(setLogLevel, PhyloSim)
S3method(setMatrix, QMatrix)
S3method(setMaxLength, ContinuousDeletor)
S3method(setMaxLength, ContinuousInsertor)
S3method(setMethodsList, PSRoot)
S3method(setName, Event)
S3method(setName, PhyloSim)
S3method(setName, Process)
S3method(setName, QMatrix)
S3method(setName, Sequence)
S3method(setNedges, PhyloSim)
S3method(setNodes, PhyloSim)
S3method(setNtips, PhyloSim)
S3method(setOmegas, CodonSequence)
S3method(setOmegas, Sequence)
S3method(setParameterAtSite, FastFieldDeletor)
S3method(setParameterAtSite, Process)
S3method(setParameterAtSites, Sequence)
S3method(setPhylo, PhyloSim)
S3method(setPosition, Event)
S3method(setProbs, DiscreteDeletor)
S3method(setProbs, DiscreteInsertor)
S3method(setProcess, Event)
S3method(setProcess, QMatrix)
S3method(setProcesses, Sequence)
S3method(setProcesses, Site)
S3method(setProposeBy, GeneralInDel)
S3method(setQMatrix, GeneralSubstitution)
S3method(setQMatrix, ToleranceSubstitution)
S3method(setRate, Event)
S3method(setRate, GY94)
S3method(setRate, GeneralInDel)
S3method(setRate, GeneralSubstitution)
S3method(setRate, QMatrix)
S3method(setRate, ToleranceSubstitution)
S3method(setRateList, GeneralSubstitution)
S3method(setRateList, QMatrix)
S3method(setRateList, ToleranceSubstitution)
S3method(setRateMultipliers, Sequence)
S3method(setRateParam, F81)
S3method(setRateParam, F84)
S3method(setRateParam, GTR)
S3method(setRateParam, HKY)
S3method(setRateParam, K80)
S3method(setRateParam, K81)
S3method(setRateParam, T92)
S3method(setRateParam, TN93)
S3method(setRateParamList, F81)
S3method(setRateParamList, F84)
S3method(setRateParamList, GTR)
S3method(setRateParamList, HKY)
S3method(setRateParamList, K80)
S3method(setRateParamList, K81)
S3method(setRateParamList, T92)
S3method(setRateParamList, TN93)
S3method(setRootNode, PhyloSim)
S3method(setRootSeq, PhyloSim)
S3method(setScale, BrownianInsertor)
S3method(setScaledMatrix, QMatrix)
S3method(setSequence, Site)
S3method(setSequences, PhyloSim)
S3method(setSite, Event)
S3method(setSiteSpecificParamIds, Process)
S3method(setSiteSpecificParamList, Process)
S3method(setSize, Alphabet)
S3method(setSizes, DiscreteDeletor)
S3method(setSizes, DiscreteInsertor)
S3method(setState, Site)
S3method(setStates, Sequence)
S3method(setString, Sequence)
S3method(setSymbolLength, Alphabet)
S3method(setSymbols, Alphabet)
S3method(setTableId, CodonAlphabet)
S3method(setTemplateSeq, GeneralInsertor)
S3method(setTheta, T92)
S3method(setTipLabels, PhyloSim)
S3method(setTips, PhyloSim)
S3method(setToleranceMargin, FastFieldDeletor)
S3method(setTotalRate, Site)
S3method(setTotalRates, Sequence)
S3method(setTransTable, CodonAlphabet)
S3method(setTreeLength, PhyloSim)
S3method(setType, Alphabet)
S3method(setType, BrownianInsertor)
S3method(setType, FastFieldDeletor)
S3method(setUniqueAlphabets, Sequence)
S3method(setUniqueProcesses, Sequence)
S3method(setWriteProtected, Alphabet)
S3method(setWriteProtected, Event)
S3method(setWriteProtected, Process)
S3method(setWriteProtected, QMatrix)
S3method(setWriteProtected, Sequence)
S3method(stringLength, default)
S3method(stringLengthVector, default)
S3method(summary, Alphabet)
S3method(summary, AminoAcidSubst)
S3method(summary, BinarySubst)
S3method(summary, BrownianInsertor)
S3method(summary, CodonAlphabet)
S3method(summary, CodonSubst)
S3method(summary, ContinuousDeletor)
S3method(summary, ContinuousInsertor)
S3method(summary, DiscreteDeletor)
S3method(summary, DiscreteInsertor)
S3method(summary, Event)
S3method(summary, F81)
S3method(summary, F84)
S3method(summary, FastFieldDeletor)
S3method(summary, GTR)
S3method(summary, GY94)
S3method(summary, GeneralDeletor)
S3method(summary, GeneralInDel)
S3method(summary, GeneralInsertor)
S3method(summary, GeneralSubstitution)
S3method(summary, HKY)
S3method(summary, JC69)
S3method(summary, K80)
S3method(summary, K81)
S3method(summary, PSRoot)
S3method(summary, PhyloSim)
S3method(summary, Process)
S3method(summary, QMatrix)
S3method(summary, Sequence)
S3method(summary, Site)
S3method(summary, T92)
S3method(summary, TN93)
S3method(summary, ToleranceSubstitution)
S3method(summary, UNREST)
S3method(translateCodon, CodonAlphabet)
S3method(virtualAssignmentForbidden, PSRoot)


